*{
    margin: 0;
    padding: 0;

}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("/Image/justin-fisher-pXP9_ev8jgA-unsplash.jpg")no-repeat center center/cover;
    
}
.form-box{
    display: flex;
    position: relative;
    width: 400px;
    height: 450px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.form-group{
    position: relative;
    margin: 30px 0px;
    width: 310px;
    border-bottom: 2px solid #fff ; 
}
.form-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-40px);
    color: aliceblue;
    font-size: 1rem;
    pointer-events: none; 
    transition: .5s;  
}
input:focus ~ label,
input:valid ~ label{
top: -5px;

}
.form-group input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding:0 35px 0 5px;
    color: aliceblue;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: yellowgreen;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
}
h1{
    color: yellowgreen;
    text-shadow:2px 2px 2px black;
}
#Plan{
  display: flex;
  justify-content: center;
  align-items:center ;
  margin-top: 10%;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* padding: 34px 34px;
  margin: 34px 34px; */
}
#Plan .box{
   border: 2px solid rgb(59, 83, 22); 
   padding-left: 20px;
    margin: 2px 40px;   
    font-size: 1.3rem;    
    border-radius: 5px ;
    backdrop-filter: blur(8px);
    color: aliceblue;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.1),rgba(255, 255, 255,0));
}
h1,
.box h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#Third,#D2,#D3,#D4,#D5,#D6,#D7,#D8,#D9{
    background: url("/Image/28-03-2023\ 08_58_57\ PM.png")no-repeat center center/cover; 
    min-height: 100vh;
}
#Plan .box{
    height: 40vh;
    width: 70vh;
}
h2{
    color: yellowgreen;
    text-shadow:2px 2px 2px black;
}
#Third,#D2,#D3 h1{
    font-size: 3rem;
}
/* .box {
    text-align: center;
} */